<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Apiary &ndash; {% block title %}Unextended Title {% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% import apiary %}{{apiary.__doc__.strip()}}">
    <link href="{{static_url('css/apiary.css')}}" rel="stylesheet">
    {% block head_css %}{% end %}
    <link href="{{static_url('css/apiary-responsive.css')}}" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{static_url('img/icons/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{static_url('img/icons/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{static_url('img/icons/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{static_url('img/icons/apple-touch-icon-57-precomposed.png')}}">
    <link rel="shortcut icon" href="{{static_url('img/icons/apiary.ico')}}">
  </head>
  <body>
    <div class="{% block container %}container{% end %}">
      {% block content %}{% end %}
      <footer>
        <small>
          <a href="https://github.com/gmr/apiary">Apiary</a> v{% import apiary %}{{apiary.__version__}} &ndash; Copyright &copy; 2013 <a href="http://meetme.com">MeetMe, Inc.</a>
          <span class="pull-right">Generated in {% import time %}{{'%0.2f' % (time.time() - request._start_time)}} seconds @ <time>{{datetime.datetime.now().isoformat(' ').split('.')[0]}}</time></span>
        </small>
      </footer>
    </div>
    {% block footer_javascript %}{% end %}
  </body>
</html>
