<div class="pager btn-toolbar pull-right form form-inline">
  <select class="pagesize input-mini" rel="tooltip" title="Items per page" style="margin-left: 10px; width: auto;">
    <option value="10" selected>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
  </select>
  <label class="pager">{item} per Page</label>
  <div class="btn-group">
    <button class="btn first" rel="tooltip" title="First"><i class="icon icon-fast_backward"></i></button>
    <button class="btn prev" rel="tooltip" title="Previous"><i class="icon icon-step_backward"></i></button>
    <button class="btn next" rel="tooltip" title="Next"><i class="icon icon-step_forward"></i></button>
    <button class="btn last" rel="tooltip" title="Last"><i class="icon icon-fast_forward"></i></button>
  </div>
</div>
<p class="pager pageinfo"><span class="pagedisplay">Page 0 of 0 &emdash; 0 of 0 {item}</span></p>
