<div class="btn-toolbar pull-left">
  <div class="btn-group">
    <button class="btn" title="New"><i class="icon icon-circle_plus"></i></button>
  </div>
  <div class="btn-group">
    <button class="btn disabled" rel="tooltip" title="Delete" id="btn-delete"><i class="icon icon-remove"></i></button>
    <button class="btn disabled" rel="tooltip" title="Power Off / On"><i class="icon icon-power" title="Power On/Off"></i></button>
    <button class="btn disabled" rel="tooltip" title="Power Cycle"><i class="icon icon-restart" title="Restart"></i></button>
  </div>
  <div class="btn-group">
    <button class="btn" rel="tooltip" title="Search"><i class="icon icon-search"></i></button>
    <button class="btn" rel="tooltip" title="Filter"><i class="icon icon-filter"></i></button>
    <button class="btn" rel="tooltip" title="Refresh"><i class="icon icon-refresh"></i></button>
  </div>
</div>
