{% extends "../base.html" %}
{% block head_css %}
<style type="text/css">
body { padding-top: 60px; padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }
</style>
{% end %}
{% block container %}container-fluid{% end %}
{% block content %}
  {% include "snippets/top-nav.html" %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
      {% block breadcrumb %}{% end %}
    </ul>
  {% end %}
  {% block page_content %}{{_("Unextended Page Content")}}{% end %}
{% end %}
{% block footer_javascript %}{% include "snippets/footer_javascript.html" %}{% end %}
