
.navbar .brand ,
.navbar .nav > li > a,
.navbar .nav > li > a.active {
  text-shadow: none !important;
}

footer {
  border-top: 1px solid @hrBorder;
  padding-top: .5em;
}

time {
  color: @maroon;
}

.bottom-rule {
  border-bottom: 1px solid @hrBorder;
  margin-bottom: 1em;
}
