html, body {
  height: 100%;
}

.navbar {
  .brand {
    text-shadow: none !important;
    margin-left: 0;
    padding: 8px 20px 0 0;
  }
  .nav {
    li {
      a, a.active {
        text-shadow: none !important;
      }
    }
  }
}

#content {
  padding-top: 60px;
}

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

push,
footer {
  height:  30px;
  background-color: #fefefe;
  padding: 2px 1em;
}

footer {
  border-top: 1px solid @hrBorder;
}


h1 {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
}

.login-box {
   width:  400px;
   text-align:  left;
   margin-left: auto;
   margin-right: auto;
  .control-label {
    width: 100px;
  }
  .controls {
    margin-left: 120px;
  }
}

.align-center {
  text-align: center;
}

.table {
  margin-bottom: 10px;
  .align-center {
    text-align: center;
  }
  tbody {
    td {
      ul.inline {
        margin-bottom: 0;
      }
    }
  }
}

.table-sort-asc {
  background-image: url("/static/img/icons/table-sort-up.png");
  background-repeat: no-repeat;
  background-position: center left;
  color:  @blue;
}

.table-sort-desc {
  background-image: url("/static/img/icons/table-sort-down.png");
  background-repeat: no-repeat;
  background-position: center left;
  color:  @blue;
}

.btn-toolbar {
  margin: 0 0 10px 0;
}

.pagination {
  margin: 5px 0;
}

.clickable {
  display: block;
  cursor: pointer;
}

#table-legend {
  padding: 4px 1em;
  h1 {
    margin: -3px 0 10px 0;
  }
  dl.legend {
    margin: 0;
    padding: 0;
    width: auto;
    dt {
      margin: 0 0 10px 0;
      width:  20px;
    }
    dd {
      margin: 0 0 10px 30px;
      width: auto;
    }
  }
}

div.loading {
  padding-top: 50px;
  text-align:  center;
  p {
    margin: 2em 0 4em 0;
    font-size: 20pt;
    font-weight: normal;
  }
}

time {
  color: @gray;
}



.bottom-rule {
  border-bottom: 1px solid @hrBorder;
  margin-bottom: 1em;
}
