{% extends "../base.html" %}
{% block title %}Login{% end %}
{% block content %}
  {% set error = None %}
  {% set info = None %}
  {% if 'login_error' in globals() and login_error %}
    {% set error = _('Could not validate your credentials.') %}
  {% elif 'connection_error' in globals() and connection_error %}
    {% set error = _('Could not connect to LDAP server.') %}
  {% end %}
  {% if 'logged_out' in globals() and logged_out %}
    {% set info = _('You have been logged out.') %}
  {% end %}
<div id="content">
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="/login" class="active">{{_("Login")}}</a>
  </ul>
  <div class="row-fluid align-center">
    <div class="login-box">
      <form class="form-horizontal" method="post" action="/login">
        <legend>{{_("Apiary Login")}}</legend>
        {% if error %}
        <div id="error-alert" class="alert alert-error">
          <i class="icon-warning-sign icon-error"></i> <strong>{{_('Error')}}</strong>: {{error}}
        </div>
        {% else %}
          {% if info %}
          <div id="info-alert" class="alert alert-info">
            <i class="icon-circle-info icon icon-info"></i> {{info}}
          </div>
          {% end %}
          <p>{{_("To login, enter your LDAP authentication credentials:")}}</p>
        {% end %}
        <div class="control-group">
          <label class="control-label" for="inputUsername">Username</label>
          <div class="controls">
            <input type="text" id="inputUsername" placeholder="Username" name="username"{% if 'username' in globals() %} value="{{username}}"{% else %} autofocus{% end %}>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password"{% if 'username' in globals() %} autofocus{% end %}>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success">Authenticate</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% end %}

{% block footer_javascript %}
<script src="{{static_url('js/libs/bootstrap/bootstrap.js')}}"></script>
{% end %}
