{% extends "../base.html" %}
{% block title %}{{_("Systems")}}{% end %}

{% block breadcrumb %}
<li><a href="/systems" class="active">{{_("Systems")}}</a></li>
{% end %}

{% block page_content %}
<div class="row-fluid">
  <div class="span10">
    <div>
      <div class="btn-toolbar pull-left">
      <div class="btn-group">
        <button class="btn"><i class="icon icon-circle-plus"></i></button>
      </div>
      <div class="btn-group">
        <button class="btn disabled"><i class="icon icon-power"></i></button>
        <button class="btn disabled"><i class="icon icon-restart"></i></button>
      </div>
      <div class="btn-group">
        <button class="btn"><i class="icon icon-search"></i></button>
        <button class="btn"><i class="icon icon-filter"></i></button>
        <button class="btn"><i class="icon icon-print"></i></button>
        <button class="btn"><i class="icon icon-refresh"></i></button>
      </div>
    </div>
    <div class="pagination pagination-right">
      <ul>
        <!-- li class="disabled"><a href="#"><i class="icon icon-left-arrow"></i></a></li -->
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="icon icon-right-arrow"></i></a></li>
      </ul>
    </div>
    </div>
    <table class="table table-striped table-hover table-bordered table-condensed">
      <thead>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <th style="width: 20em;">UUID</th>
        <th class="align-center" style="width: 5em;">Status</th>
        <th>Serial #</th>
        <th>Profile</th>
        <th>Hostname</th>
        <th>IP Address</th>
        <th class="align-center">Tags</th>
        <th class="align-center">Tools</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/39363436-3430-584d-5132-323730424a5a">39363436-3430-584d-5132-323730424a5a</a></td>
        <td class="align-center"><i class="icon icon-blue icon-cogwheel"></i></td>
        <td>MXQ2270BJZ</td>
        <td><a href="/profile/CentOS%206.3%20x86_64">CentOS 6.3 x86_64</a></td>
        <td>redis09.scs.mtmeprod.net</td>
        <td>10.50.89.15</td>
        <td class="align-center"><span class="label label-success">Redis</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/39363436-3430-584d-5132-323830374b44">39363436-3430-584d-5132-323830374b44</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-green icon-thumbs-up"></i></li>
          </ul>
        </td>
        <td>MXQ22807KD</td>
        <td><a href="/profile/CentOS%206.3%20x86_64">CentOS 6.3 x86_64</a></td>
        <td>redis10.scs.mtmeprod.net</td>
        <td>10.50.89.17</td>
        <td class="align-center"><span class="label label-success">Redis</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/39363436-3430-584d-5132-32383032424a">39363436-3430-584d-5132-32383032424a</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-green icon-thumbs-up"></i></li>
            <li><i class="icon icon-flag icon-error"></i></li>
          </ul>
        </td>
        <td>MXQ22802BJ</td>
        <td><a href="/profile/CentOS%206.3%20x86_64">CentOS 6.3 x86_64</a></td>
        <td>redis11.scs.mtmeprod.net</td>
        <td>10.50.89.18</td>
        <td class="align-center"><span class="label label-success">Redis</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/31323436-3530-4d32-3232-323030305748">31323436-3530-4d32-3232-323030305748</a></td>
        <td class="align-center"><i class="icon icon-skull"></i></td>
        <td>2M222000WH</td>
        <td><a href="/profile/CentOS%206.3%20x86_64">CentOS 6.3 x86_64</a></td>
        <td>graphite01.scs.mtmeprod.net</td>
        <td>10.50.88.106</td>
        <td class="align-center"><span class="label label-info">Graphite</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/31323436-3530-4d32-3232-323030305834">31323436-3530-4d32-3232-323030305834</a></td>
        <td class="align-center"><i class="icon icon-fire icon-error"></i></td>
        <td>2M222000X4</td>
        <td><a href="/profile/CentOS%206.3%20x86_64">CentOS 6.3 x86_64</a></td>
        <td>graphite02.scs.mtmeprod.net</td>
        <td>10.50.88.112</td>
        <td class="align-center"><span class="label label-info">Graphite</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/b4322a7b-224d-3367-9f00-9b31f21a6931">b4322a7b-224d-3367-9f00-9b31f21a6931</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-moon"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td>nn.hadoop.scs.mtmeprod.net</td>
        <td>10.50.66.3</td>
        <td class="align-center"><span class="label label-info">Hadoop</span> <span class="label label-warning">Name Node</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/bbfd283b-56db-37fe-bd75-6ee424a9256e">bbfd283b-56db-37fe-bd75-6ee424a9256e</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-green icon-thumbs-up"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td>snn.hadoop.scs.mtmeprod.net</td>
        <td>10.50.66.4</td>
        <td class="align-center"><span class="label label-info">Hadoop</span> <span class="label label-warning">Secondary Name Node</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/37b55533-8446-3aaf-8430-88aa13b504b8">37b55533-8446-3aaf-8430-88aa13b504b8</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-green icon-thumbs-up"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td>jt.hadoop.scs.mtmeprod.net</td>
        <td>10.50.66.5 </td>
        <td class="align-center"><span class="label label-info">Hadoop</span> <span class="label label-warning">Job Tracker</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/85a62c03-f3b4-309a-ba0d-fa10ad7c3cf1">85a62c03-f3b4-309a-ba0d-fa10ad7c3cf1</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-green icon-thumbs-up"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td>hs.hadoop.scs.mtmeprod.net</td>
        <td>10.50.66.6 </td>
        <td class="align-center"><span class="label label-info">Hadoop</span> <span class="label label-warning">History Server</span></td>
        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/c6a07302-8d61-3218-85c9-67f3b29b1e47">c6a07302-8d61-3218-85c9-67f3b29b1e47</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-yellow icon-hdd"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td></td>
        <td></td>
        <td></td>

        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/be11c4ea-8572-354a-b986-32b94a846c5b">be11c4ea-8572-354a-b986-32b94a846c5b</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-yellow icon-hdd"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td></td>
        <td></td>
        <td></td>

        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="align-center"><i class="icon icon-unchecked"></i></td>
        <td><a href="/api/system/dd00a7b8-f152-3396-a562-eccf1ccbb0b8">dd00a7b8-f152-3396-a562-eccf1ccbb0b8</a></td>
        <td class="align-center">
          <ul class="inline">
            <li><i class="icon icon-yellow icon-hdd"></i></li>
          </ul>
        </td>
        <td></td>
        <td><a href="/profile/CentOS%206.3%20x86_64%20Seamicro">CentOS 6.3 x86_64 Seamicro</a></td>
        <td></td>
        <td></td>
        <td></td>

        <td class="align-center">
          <ul class="inline">
            <li><a href="#"><i class="icon icon-dashboard"></i></a></li>
            <li><a href="#"><i class="icon icon-history"></i></a></li>
            <li><a href="#"><i class="icon icon-display"></i></a></li>
            <li><a href="#"><i class="icon icon-restart"></i></a></li>
            <li><a href="#"><i class="icon icon-power"></i></a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <p class="pull-left" style="padding-left: 1em;"><strong>Displaying 12 of 12 total systems</strong></p>
      <div class="pagination pagination-right">
        <ul>
          <!-- li class="disabled"><a href="#"><i class="icon icon-left-arrow"></i></a></li -->
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="icon icon-right-arrow"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span2">
    <h1>Legend</h1>
    <dl class="dl-horizontal legend">
      <dt><i class="icon icon-green icon-thumbs-up"></i></dt>
      <dd>Online and operational</dd>
      <dt><i class="icon icon-yellow icon-hdd"></i></dt>
      <dd>Online but waiting for assignment or provisioning</dd>
      <dt><i class="icon icon-error icon-flag"></i></dt>
      <dd>Will be provisioned on next reboot</dd>
      <dt><i class="icon icon-info icon-cogwheel"></i></dt>
      <dd>Currently being provisioned</dd>
      <dt><i class="icon icon-error icon-fire"></i></dt>
      <dd>Experiencing operational issues</dd>
      <dt><i class="icon icon-moon"></i></dt>
      <dd>Powered down</dd>
      <dt><i class="icon icon-skull"></i></dt>
      <dd>Dead or decommissioned</dd>
    </dl>
  </div>
</div>
{% end %}
